.GradeSH {
    
}

.UnitTest {
    font-size: 15px;
}

.ScoreDiv {
    display: inline-block;
    min-width: 20px;
    margin-left: 10px;
}

.DiffButton {
    display: inline-block;
}

.StdioTest {
    font-size: 15px;
}

.TestButton {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.TestLabel {
    display: inline-block;
    min-width: 200px;
    max-width: 200px;
    overflow: hidden;
    margin-top: 5px;
}

.DiffDiv {
    min-height:100%
}

.DiffFrame {
    width: 100%;
    min-height: 100%;
    margin: 2px;
    padding: 2px;
    border-width: 2px;
    background-color: inherit;
}