.CFG_Viewer {
    font-size: 15px;
}

.SVG_Wrapper {
    padding-left: 5px;
    display: "inline-block";
}

.CtlBt {
    margin: 5px;
    min-width: 80px;
    display: "block";
}

.ControlBar {
    padding: 5px;
    display: "inline-block";
}