.ServiceContainer {
    border-top: 2px groove blueviolet;
}

.ToggleHidden {
    margin-right: 5px;
    font-size: 14px;
    display: inline-block;
}

.ServiceName {
    font-size: 14px;
    display: inline-block;
}

.ServiceWrapper {
    all:unset;
}